version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: kookmineat
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d kookmineat" ]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: poatansanyo/koomineat-app:1.0.0
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: kookmineat
      DB_USER: postgres
      DB_PASSWORD: admin
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data:
